<h1><strong> Your Goals! </strong></h1>

<ol>
<% @goals.each do |goal| %>
    <li><%= link_to goal.name, goal_path(goal.id) %></li>
<% end %>
</ol>

<div class="w3-col s6">
    <p><%= link_to "Create A New Goal", new_goal_path %></p>
</div>